*{
    margin: 0;
    padding: 0
  }

#total {
    display: flex;
}

#photo-div {
    display: flex;
    flex: 1 0 auto;
    min-width: 0;
    width: 33vw;
    position: relative;
}

#logo {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 15%;
    top: 9rem;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: Jungle;
    src: url(JFWilwod.ttf);
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #d26729;
    font-family: Jungle;
    font-size: 3vw;
}

#top-text, #bottom-button {
    display: flex;
    background-color: #f9fafb;
    flex: 1 0 auto;
}

#top-text {
    align-items: flex-end;
    padding: 0 0 32px 32px;
    font-family: sans-serif;
    font-size: 2.5vw;
    font-weight: 500;
}

#background-image {
    width: 100%;
    height: auto;
}

#form-div {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
}

#form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
    padding: 0 16px 32px 32px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#form>p {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    font-family: sans-serif;
    font-size: 2.7vw;
}

#columns {
    display: flex;
    justify-content: start;
    flex: 3 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 1.2vw;
    color: rgb(92, 92, 92);
    width: 100%;
}

#column-2 {
    margin-left: 5vw;
}

label, input {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    height: 75%;
    width: 85%;
    font-size: 1.7vh;
    font-family: sans-serif;
    padding: .2vh;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);

}

textarea {
    display: block;
    overflow: auto;
}

#bottom-button {
    position: relative;
    padding: 32px 0 0 32px;
    z-index: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 20vw;
    font-size: 1.6vw;
    border: .2px solid;
    border-radius: 5px;
    outline: none;
    color: white;
    background-color: #596D48;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}